/*
====================================
Wide Screen - Laptop
====================================
*/
@media screen and (min-width: 1201px) and (max-width: 1450px) {

    .hero-left h2 {
        font-size: 76px;
    }

    .hero-left p {
        font-size: 18px;
        margin: 25px 0 45px;
    }

    .invest-left {
        padding: 40px 20px;
    }

    .invest-left h4 {
        font-size: 36px;
    }

    .invest-left p {
        font-size: 17px;
    }

    .invest-mdl {
        padding: 30px 20px;
    }
    
    .invest-mdl h2 {
        font-size: 32px;
    }

    .invest-mdl p {
        font-size: 17px;
    }

    .invest-main::after {
        width: 1050px;
    }

    .number-item h4 {
        font-size: 32px;
    }

    .number-item p {
        font-size: 16px;
    }

    .depo2::before,
    .depo2::after {
        display: none;
    }

    .persp-left h2 {
        font-size: 36px;
    }

    .persp-left p {
        font-size: 17px;
    }

    .persp-right h2 {
        font-size: 36px;
    }

    .persp-right p {
        font-size: 17px;
    }

    .review-item {
        padding: 30px 16px;
    }

    .review-item h4 {
        font-size: 19px;
    }

    .review-item p {
        font-size: 16px;
    }

    .review-item h6 {
        font-size: 18px;
    }

    .review-item1 h4 {
        font-size: 44px;
    }

    .review-area {
        padding: 20px 0;
    }

    












}

/*
====================================
Medium Screen - Others
====================================
*/
@media screen and (min-width: 992px) and (max-width: 1200px) {

    .navbar-brand img {
        max-width: 180px;
    }
    
    .navbar-nav li {
        padding: 10px 15px;
    } 

    .navbar-btn li {
        padding: 10px 0px;
        padding-left: 12px;
    }

    .navbar-nav li a {
        font-size: 15px;
        font-weight: 700;
        text-transform: uppercase;
        color: #000000;
        transition: 0.2s all ease;
    }

    .navbar-btn li a {
        width: 100px;
        padding: 13px 10px;
    }

    .hero-left h2 {
        font-size: 56px;
    }

    .hero-left p {
        font-size: 18px;
        margin: 25px 0 45px;
    }

    .hero-left p br {
        display: none;
    }

    .hero-part {
        padding: 55px 0;
    }

    .banner-part p {
        font-size: 13px;
    }

    .banner-part h4 {
        font-size: 21px;
    }

    .banner-part span {
        font-size: 13px;
    }

    .invest-left {
        padding: 40px 15px;
    }

    .invest-left h4 {
        font-size: 30px;
    }

    .invest-left p {
        font-size: 16px;
    }

    .invest-mdl {
        padding: 30px 20px;
    }
    
    .invest-mdl h2 {
        font-size: 26px;
    }

    .invest-mdl p {
        font-size: 15px;
        margin: 20px 0;
    }

    .invest-mdl a {
        margin-top: 20px;
        font-size: 16px;
        padding: 12px 16px;
    }

    .invest-left a {
        font-size: 16px;
    }

    .invest-main::after {
        width: 850px;
    }

    .invest-main {
        padding: 50px 0;
    }

    .chose-item {
        padding: 40px 30px;
    }

    .work-item {
        padding: 30px 10px;
        margin: 30px 0 0;
    }

    .work-main {
        padding-top: 142px;
    }

    .work2 {
        margin-top: -65px;
    }

    .work-main .line1 {
        max-width: 360px;
        position: absolute;
        top: 28px;
        left: 66px;
    }

    .work-main .line2 {
        max-width: 254px;
        position: absolute;
        top: 31px;
        right: 132px;
    }

    .work-item h4 {
        font-size: 21px;
    }

    .work-item p {
        font-size: 16px;
    }

    .work-item img {
        max-width: 60px;
    }

    .static-number {
        grid-template-columns: repeat(3, 1fr); 
    }

    .depo2::before,
    .depo2::after {
        display: none;
    }

    .deposit-item {
        width: 250px;
    }

    .deposit-item h4 {
        font-size: 21px;
        margin-bottom: 18px;
    }

    .deposit-item ul .depo-title,
    .deposit-item ul li,
    .deposit-item ul li span {
        font-size: 16px;
    }

    .persp-left h2 {
        font-size: 27px;
    }

    .persp-left p {
        font-size: 15px;
    }

    .persp-right h2 {
        font-size: 36px;
    }

    .persp-right p {
        font-size: 17px;
    }

    .persp-left {
        padding: 30px 20px;
    }

    .persp-right {
        padding: 30px 20px;
    }

    .pers-item {
        margin: 40px 0;
    }
    
    .pers-item span {
        font-size: 32px;
        width: 13.5%;
        height: 65px;
    }
    
    .pers-cnt {
        margin-left: 25px;
        width: 87.5%;
    }
    
    .pers-cnt h4 {
        font-size: 22px;
    }
    
    .pers-cnt p {
        font-size: 16px;
    }
    
    .prs2-itm {
        margin-left: -50px;
    }

    .persmain-right {
        padding-left: 50px;
    }

    .review-area {
        padding: 20px 0;
    }

    .review-item {
        margin: 15px 0;
    }

    .blog-item {
        margin: 0;
    }

    .blog-item h4 {
        font-size: 22px;
    }

    .blog-item p {
        font-size: 17px;
    }

    .blog-main {
        padding: 36px 0;
    }

    .ziehharmonika h3 {
        font-size: 22px;
        padding-right: 80px;
    }
    

   












}

/*
====================================
Small Screen - Tablate
====================================
*/
@media screen and (min-width: 768px) and (max-width: 991px) {

    .navbar-nav li {
        padding: 10px 10px;
    } 

    .hero-left {
        margin-top: 70px;
    }

    .hero-left h2 {
        font-size: 80px;
    }

    .hero-left p {
        font-size: 18px;
        margin: 25px 0 45px;
    }

    .banner-part {
        justify-content: flex-start;
        border-radius: 16px 16px 0 0;
    }

    .banner-part > div {
        width: 25%;
        padding: 15px 10px;
    }

    .invest-main {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 30px;
    }

    .invest-mdl,
    .invest-left {
        padding: 40px 40px;
    }

    .invest-main::after {
        width: 650px;
    }

    .invest-main {
        padding: 50px 0;
    }

    .work-item {
        margin: 30px 0 0;
        padding: 35px 20px;
    }

    .work-main {
        padding-top: 0;
    }

    .work-main .line1 {
        display: none;
    }

    .work-main .line2 {
        display: none;
    }

    .work-item h4 {
        font-size: 21px;
    }

    .work-item p {
        font-size: 15.5px;
    }

    .plan-item {
        padding: 30px 20px 25px;
    }

    .plan-title h4 {
        font-size: 42px;
    }

    .plan-ttlcnt h6 {
        font-size: 21px;
    }

    .plan-ttlcnt {
        margin-left: 20px;
    }

    .plan-item ul li {
        font-size: 16px;
        padding-left: 30px;
    }

    .plan-item ul li::before {
        background-size: 20px;
        left: -8px;
    }

    .static-main {
        padding: 40px 30px 30px;
    }

    .number-item h4 {
        font-size: 32px;
    }

    .number-item p {
        font-size: 16px;
    }

    .static-number {
        grid-template-columns: repeat(3, 1fr);
        
    }

    .number-item {
        padding: 40px 20px;
    }

    .depo2::before,
    .depo2::after {
        display: none;
    }

    .deposit-item {
        width: 250px;
    }

    .deposit-item h4 {
        font-size: 21px;
        margin-bottom: 18px;
    }

    .deposit-item ul .depo-title,
    .deposit-item ul li,
    .deposit-item ul li span {
        font-size: 16px;
    }

    .depo3 {
        margin-left: 0;
        margin-top: 35px;
    }

    .static-upper h2 {
        font-size: 46px;
    }

    .static-upper p {
        font-size: 18px;
    }

    .static-upper p br {
        display: none;
    }

    .persp-left h2 {
        font-size: 36px;
    }

    .persp-left p {
        font-size: 16px;
    }

    .persp-right h2 {
        font-size: 36px;
    }

    .persp-right p {
        font-size: 17px;
    }

    .persp-right {
        margin-top: 30px;
    }

    .persp-right a {
        margin-top: 20px;
    }

    .persp-area {
        padding: 0;
    }

    .pers-item {
        margin: 30px 0;
    }

    .prs2-itm {
        margin-left: 0;
    }

    .persmain-right {
        padding-top: 50px;
    }

    .review-area {
        padding: 50px 0;
    }

    .review-item {
        margin: 15px 0;
    }

    .blog-area {
        padding: 20px 0;
    }

    .blog-upper {
        display: block;
    }

    .uper-rit a {
        margin-top: 20px;
    }

    .blog-item {
        margin: 22px 0;
    }

    .blog-item h4 {
        font-size: 22px;
    }

    .blog-item p {
        font-size: 17px;
    }

    .blog-main {
        padding: 36px 0;
    }




    



    



}

/*
====================================
Small Screen - Mobile
====================================
*/
@media screen and (max-width: 767px) {

    .navbar-brand img {
        max-width: 200px;
    } 

    .navbar-nav li {
        padding: 10px 10px;
    } 

    .hero-left {
        margin-top: 50px;
    }

    .hero-left h2 {
        font-size: 46px;
    }

    .hero-left p {
        font-size: 18px;
        margin: 24px 0 42px;
    }

    .hero-left p br {
        display: none;
    }

    .hero-part {
        padding: 50px 0;
    }

    .hero-left ul li a {
        font-size: 17px;
        padding: 12px 20px;
    }

    .hero-left ul li a i {
        margin-left: 20px;
    }

    .banner-part > div {
        width: 50%;
        padding: 15px 10px;
    }

    .banner-part p {
        font-size: 14.5px;
    }

    .banner-part h4 {
        font-size: 21px;
    }

    .invest-main {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
    }

    .invest-left {
        padding: 30px 16px;;
    }

    .invest-left h4 {
        font-size: 34px;
    }

    .invest-left p {
        font-size: 17.5px;
        margin: 20px 0 40px;
    }

    .invest-mdl {
        padding: 30px 15px;;
    }

    .invest-mdl h2 {
        font-size: 23.5px;
    }

    .invest-mdl p {
        font-size: 16px;
        margin: 20px 0;
    }

    .invest-left a,
    .invest-mdl a {
        font-size: 16px;
    }

    .invest-main::after {
        width: 300px;
    }

    .invest-main {
        padding: 50px 0;
    }

    .chose-upper h2 {
        font-size: 40px;
    }

    .chose-upper p {
        font-size: 18px;
    }

    .work-item {
        margin: 30px 0 0;
        padding: 35px 20px;
    }

    .work-main {
        padding-top: 0;
    }

    .work-main .line1 {
        display: none;
    }

    .work-main .line2 {
        display: none;
    }

    .work-item h4 {
        font-size: 22px;
    }

    .work-item p {
        font-size: 16px;
    }

    .plan-item {
        padding: 30px 20px 25px;
    }

    .plan-title h4 {
        font-size: 42px;
    }

    .plan-ttlcnt h6 {
        font-size: 21px;
    }

    .plan-ttlcnt {
        margin-left: 20px;
    }

    .plan-item ul li {
        font-size: 16px;
        padding-left: 32px;
    }

    .plan-item ul li::before {
        background-size: 21px;
    }

    .plan-area {
        padding: 15px 0;
    }

    .static-main {
        padding: 40px 16px 30px;
    }

    .static-number {
        grid-template-columns: 1fr; 
        padding: 30px 0;
    }

    .static-upper h2 {
        font-size: 32px;
    }

    .static-upper p {
        font-size: 16.5px;
    }

    .deposit-part {
        padding: 0 5px;
    }

    .depo2::before,
    .depo2::after {
        display: none;
    }

    .deposit-item {
        width: 100%;
    }

    .depo3,
    .depo2,
    .deposit-item {
        margin-left: 0;
        margin-top: 35px;
    }

    .persp-left h2 {
        font-size: 26px;
    }

    .persp-left p,
    .persp-left .italic {
        font-size: 16px;
        margin-top: 20px;
    }

    .persp-right h2 {
        font-size: 32px;
    }

    .persp-right p {
        font-size: 17px;
        margin: 20px 0;
    }

    .persp-right a {
        margin-top: 16px;
    }

    .persp-left {
        padding: 30px 18px;
    }

    .persp-right {
        padding: 30px 20px;
    }

    .persp-area {
        padding: 0;
    }

    .static-area {
        padding-bottom: 60px;
    }

    .pers-item {
        margin: 25px 0;
    }

    .prs2-itm {
        margin-left: 0;
    }

    .persmain-right {
        padding-top: 32px;
    }

    .pers-item span {
        font-size: 30px;
        width: 70px;
        height: 60px;
    }
    
    .pers-cnt {
        margin-left: 20px;
        width: 82%;
    }
    
    .pers-cnt h4 {
        font-size: 22px;
    }
    
    .pers-cnt p {
        font-size: 15px;
    }

    .review-area {
        padding: 50px 0;
    }

    .review-item {
        margin: 15px 0;
    }

    .review-item1 {
        margin-bottom: 20px;
    }

    .blog-area {
        padding: 10px 0;
    }

    .blog-upper {
        display: block;
    }

    .uper-rit a {
        margin-top: 20px;
    }

    .blog-item {
        margin: 22px 0;
    }

    .blog-item h4 {
        font-size: 22px;
    }

    .blog-item p {
        font-size: 17px;
    }

    .blog-main {
        padding: 36px 0;
    }

    .uper-left h4 {
        font-size: 40px;
    }

    .ziehharmonika h3 {
        font-size: 20px;
        padding-right: 40px;
        margin: 30px 0;
    }

    .ziehharmonika > div {
        padding: 21px 16px;
    }

    .ziehharmonika > div p {
        font-size: 16px;
    }

    .ziehharmonika .collapseIcon {
        right: 10px;
        font-size: 21px;
    }

    .faq-upper h2 {
        font-size: 36px;
    }

    .faq-main {
        padding: 0;
    }

    .faq-area {
        padding: 10px 0;
    }














}
