/*==========
Fonts
============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,700&display=swap');

body {	
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;    
	background: #F8F6FF;
	color: #191919;	
}

a {
  display: inline-block;
  transition: 0.2s all ease;
  -webkit-transition: 0.2s all ease;
  -moz-transition: 0.2s all ease;
}

a:visited,
a:hover,
a:active {
  text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

::selection {
    color: white; 
    background: #ff7675;
}

::-webkit-selection {
    color: white; 
    background: #ff7675;
}

::-moz-selection {
    color: white; 
    background: #ff7675;
}

/* scrollto-top */
.scrolltotop {
    width: 40px;
    height: 40px;
    border-radius: 20px 20px 0 0;
    background: rgba(0,0,0,.5);   
    text-align: center;
    padding-top: 8px;
    font-size: 22px;
    color: #ffffff;
    position: fixed;
    right: 5px;
    bottom: 5px;
    display: none;
    transition: 0.2s all ease;
    -webkit-transition: 0.2s all ease;
    -moz-transition: 0.2s all ease;
}

.scrolltotop:hover {   
    background: #000;
    color: #fff;
    box-shadow: 0px 0px 5px rgba(0,0,0,.5);
    -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,.5);
    -moz-box-shadow: 0px 0px 5px rgba(0,0,0,.5);
}

/*===============
header-area 
=================*/
.header-area {
    background-image: url(images/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 10px;
}

.navbar-brand img {
    max-width: 230px;
}

.navbar-nav li {
    padding: 10px 30px;
}

.navbar-nav li a {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
    transition: 0.2s all ease;
}

.navbar-nav li a:hover {
    opacity: 0.8;
}

.navbar-btn li {
    padding: 10px 10px;
}

.navbar-btn li a {
    width: 126px;
    background: #FFFFFF;
    color: #6F47FF;
    display: inline-block;
    text-align: center;
    padding: 14px 15px;
    border-radius: 10px;
    box-shadow: 0px 12px 24px rgba(111, 71, 255, 0.2);
    -webkit-box-shadow: 0px 12px 24px rgba(111, 71, 255, 0.2);
    -moz-box-shadow: 0px 12px 24px rgba(111, 71, 255, 0.2);
}

.navbar-btn li #active,
.navbar-btn li a:hover {
    background: #6F47FF;
    color: #FFF;
    opacity: 1;
}

/* hamburger */
.hamburger {
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  outline: none!important;
}

.hamburger:hover {
    opacity: 0.7; 
}

.hamburger.is-active:hover {
    opacity: 0.7; 
}

.hamburger.is-active 
.hamburger-inner,
.hamburger.is-active 
.hamburger-inner::before,
.hamburger.is-active 
.hamburger-inner::after {
    background-color: #000; 
}

.hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative;  
    top: 2px;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner, 
.hamburger-inner::before, 
.hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    outline: none;
    transition-timing-function: ease;
}

.hamburger-inner::before, 
.hamburger-inner::after {
    content: "";
    display: block;
    outline: none; 
}

.hamburger-inner::before {
    top: -10px; 
}

.hamburger-inner::after {
    bottom: -10px; 
}

.hamburger--collapse 
.hamburger-inner {
    top: auto;
    bottom: 0;
    outline: none;
    transition-duration: 0.13s;
    transition-delay: 0.13s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); 
}

.hamburger--collapse 
.hamburger-inner::after {
    top: -20px;
    transition: top 0.2s 0.2s 
    cubic-bezier(0.33333, 0.66667, 0.66667, 1), 
    opacity 0.1s linear; 
}

.hamburger--collapse 
.hamburger-inner::before {
    transition: top 0.12s 0.2s 
    cubic-bezier(0.33333, 0.66667, 0.66667, 1), 
    transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); 
}

.hamburger--collapse.is-active 
.hamburger-inner {
    transform: translate3d(0, -10px, 0) rotate(-45deg);
    transition-delay: 0.22s;
    outline: none;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); 
}

.hamburger--collapse.is-active 
.hamburger-inner::after {
    top: 0;
    opacity: 0;
    transition: top 0.2s 
    cubic-bezier(0.33333, 0, 0.66667, 0.33333), 
    opacity 0.1s 0.22s linear; 
}

.hamburger--collapse.is-active 
.hamburger-inner::before {
    top: 0;
    transform: rotate(-90deg);
    transition: top 0.1s 0.16s
    cubic-bezier(0.33333, 0, 0.66667, 0.33333), 
    transform 0.13s 0.25s 
    cubic-bezier(0.215, 0.61, 0.355, 1); 
}

@media screen and (min-width: 1200px) and (max-width: 1321px) {
    .navbar-nav li {
        padding: 10px 24px;
    } 

    .navbar-btn li {
        padding: 10px 0px;
        padding-left: 12px;
    }
}

.hero-part {
    padding: 70px 0;
}

.hero-left h2 {
    font-size: 90px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
}

.hero-left p {
    font-size: 20px;
    font-weight: 600;
    color: #747080;
    margin: 36px 0 66px;
}

.hero-left ul li {
    display: inline-block;
    padding-right: 10px;
}

.hero-left ul li a {
    font-size: 18px;
    font-weight: 700;
    color: #6F47FF;
    background: #FFF;
    display: inline-block;
    padding: 12px 25px;
    border-radius: 8px;
    text-transform: uppercase;
    box-shadow: 0px 10px 24px rgba(111, 71, 255, 0.3);
    -webkit-box-shadow: 0px 10px 24px rgba(111, 71, 255, 0.3);
    -moz-box-shadow: 0px 10px 24px rgba(111, 71, 255, 0.3);
}

.hero-left ul li i {
    display: inline-block;
    margin-left: 30px;
    font-size: 21px;
    vertical-align: middle;
}

.hero-left ul li a:hover,
.hero-left ul li .active {
    background: #6F47FF;
    color: #FFF;
}

.hero-right img {
    max-width: 100%;
}

.banner-part {
    background: #F9F8FE;
    padding: 15px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 11px 11px 0 0;
}

.banner-part span {
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    padding: 6px 10px;
    border-radius: 50px;
}

.banner-part .orange-red {
    font-size: 14px;
    font-weight: 500;
    color: #FA6800;
    background: #FAF1F2;
    display: inline-block;
    padding: 6px 10px;
    border-radius: 50px;
}

.banner-part .info {
    font-size: 14px;
    font-weight: 500;
    color: #008DE4;
    background: #EDF2FE;
}

.banner-part .yellow {
    color: #FF9416;
    background: #F9F3F3;
}

.banner-part .blue {
    color: #547FEF;
    background: #F0F1FE;
}

.banner-part .black {
    color: #23292F;
    background: #EDEDF3;
}

.banner-part h4 {
    font-size: 25px;
    font-weight: 700;
    color: #000000;
    margin: 12px 0 6px;
}

.banner-part p {
    font-size: 16px;
    font-weight: 500;
    color: #30B1A4;
    margin-bottom: 0;
}

.banner-part .red {
    color: #FC6360;
}

/*===================
invest-area start
=====================*/
.invest-main {
    padding: 70px 0;
    position: relative;
}

.invest-main::after {
    content: "";
    width: 1300px;
    height: 200px;
    background: linear-gradient(to left, #F7F5FF, #E9E4FF, #F5F2FF);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    z-index: -9;
}

.invest-left img {
    max-width: 65px;
}

.invest-left h4 {
    font-size: 45px;
    font-weight: 700;
    color: #FFFFFF;
    margin: 24px 0 20px;
}

.invest-left p {
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
    margin: 30px 0 50px;
}

.invest-left a {
    font-size: 18px;
    font-weight: 700;
    color: #FFFFFF;
    text-transform: uppercase;
}

.invest-left a i {
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

.invest-left {
    background: linear-gradient(to bottom, #6F47FF, #5937D1);
    padding: 50px 30px;
    border-radius: 15px;
    margin-right: 16px;
}

.invest-mdl {
    background: linear-gradient(to bottom, #F4F2FF, #FCFBFF);
    padding: 30px 30px;
    border: 2px solid #FFF;
    border-radius: 16px;
    margin-right: 12px;
}

.invest-mdl h4 {
    font-size: 20px;
    font-weight: 700;
    color: #6F47FF;
}

.invest-mdl h2 {
    font-size: 35px;
    font-weight: 400;
    color: #000000;
    margin: 20px 0;
}

.invest-mdl p {
    font-size: 18px;
    font-weight: 400;
    color: #747080;
    margin: 30px 0;
}

.invest-mdl .italic {
    color: #000;
    font-style: italic;
    font-weight: 500;
}

.invest-mdl a {
    font-size: 18px;
    font-weight: 700;
    color: #FFFFFF;
    text-transform: uppercase;
    background: #6F47FF;
    padding: 14px 30px;
    border-radius: 10px;
    margin-top: 25px;
}

.invest-mdl a i {
    font-size: 20px;
    vertical-align: middle;
    display: inline-block;
    margin-left: 35px;
}

.invest-mdl a:hover {
    opacity: 0.8;
}

.invest-main {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 32% 42% 26%); 
}

.invest-right img {
    max-width: 100%;
}

/*=================
chose-area start
===================*/
.chose-area {
    padding: 20px 0;
}

.chose-upper h2 {
    font-size: 50px;
    font-weight: 700;
    color: #000000;
    text-align: center;
}

.chose-upper p {
    font-size: 20px;
    font-weight: 500;
    color: #747080;
    text-align: center;
    margin: 18px 0 21px;
}

.chose-item {
    background: #FCFBFF;
    padding: 40px 20px;
    border: 2px solid #FFF;
    border-radius: 15px;
    margin-top: 30px;
}

.chose-item:hover {
    border-color: #6F47FF;
    box-shadow: 0 10px 15px #EEE9FF;
}

.chose-item img {
    max-width: 65px;
}

.chose-item h4 {
    font-size: 25px;
    font-weight: 700;
    color: #000000;
    margin: 18px 0;
}

.chose-item p {
    font-size: 17px;
    font-weight: 400;
    color: #747080;
}

.chose-item a {
    font-size: 18px;
    font-weight: 700;
    color: #6F47FF;
    text-transform: uppercase;
    margin-top: 20px;
}

.chose-main .row > div {
    padding-left: 8px;
    padding-right: 8px;
}

.chose-main .row {
    padding-left: 10px;
    padding-right: 10px;
}

/*==================
work-area start 
====================*/
.work-area {
    padding: 70px 0;
}

.work-item {
    background: #FCFBFF;
    padding: 45px 30px 40px;
    text-align: center;
    border: 2px solid #FFF;
    border-radius: 18px;
    margin: 30px 14px 0;
}

.work-item img {
    max-width: 65px;
}   

.work-item h4 {
    font-size: 25px;
    font-weight: 700;
    color: #000000;
    margin: 20px 0 16px;
}

.work-item p {
    font-size: 17px;
    font-weight: 400;
    color: #747080;
    margin-bottom: 0;
}

.work-main {
    padding-top: 200px;
    position: relative;
}

.work2 {
    margin-top: -100px;
}

.work-main .line1 {
    max-width: 526px;
    position: absolute;
    top: 50px;
    left: 200px;
}

.work-main .line2 {
    max-width: 345px;
    position: absolute;
    top: 45px;
    right: 245px;
}

@media screen and (min-width: 1201px) and (max-width: 1340px) {

    .work-item {
        padding: 40px 25px;
        margin: 30px 0;
    }

    .work2 {
        margin-top: -100px;
    }

    .work-main .line1 {
        max-width: 450px;
        position: absolute;
        top: 50px;
        left: 160px;
    }

    .work-main .line2 {
        max-width: 300px;
        position: absolute;
        top: 52px;
        right: 175px;
    }
}

/*==================
plan-area start 
====================*/
.plan-area {
    padding: 32px 0;
}

.plan-item {
    background: #FCFBFF;
    padding: 32px 24px 25px;
    border: 2px solid #FFF;
    border-radius: 16px;
    margin-top: 30px;
}

.plan-item:hover {
    border-color: #6F47FF;
    box-shadow: 0 10px 15px #EEE9FF;
}

.plan-item span {
    font-size: 20px;
    font-weight: 600;
    color: #6F47FF;
}

.plan-title {
    display: flex;
    padding: 20px 0 32px;
}

.plan-title h4 {
    font-size: 50px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 0;
}

.plan-ttlcnt {
    margin-left: 30px;
}

.plan-ttlcnt p {
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    margin-bottom: 0;
}

.plan-ttlcnt h6 {
    font-size: 25px;
    font-weight: 500;
    color: #000000;
    margin-bottom: 0;
}

.plan-item ul li {
    font-size: 18px;
    font-weight: 500;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.plan-item a {
    font-size: 18px;
    font-weight: 700;
    color: #6F47FF;
    display: block;
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #6F47FF;
    padding: 14px 15px;
    border-radius: 10px;
    text-transform: uppercase;
    margin-top: 40px;
}

.plan-item:hover a{
    background: #6F47FF;
    color: #FFF;
}
